[submodule "docker/setup-scripts"]
	path = modules/setup-scripts
	url = git@github.com:CoolNamesAllTaken/setup-scripts.git
[submodule "docker/pico-sdk"]
	path = modules/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "modules/googletest"]
	path = modules/googletest
	url = git@github.com:google/googletest.git
[submodule "modules/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = modules/no-OS-FatFS-SD-SPI-RPi-Pico
	url = git@github.com:carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
